/* General styles for the app */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: #333;
  transition: 300;

  background-image: url("./assets/bigDroneCropped.jpg"); /* Replace with your image URL */
  background-size: cover; /* Ensures the image covers the entire element */
  background-position: center; /* Centers the image */
  background-repeat: no-repeat; /* Prevents the image from tiling */
}

.App {
  text-align: center;
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h1 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #333;
}

label {
  display: block;
  margin-bottom: 10px;
}

button {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  font-size: 3rem;
  font-weight: 600;
  line-height: 60px;
  margin-top: 20px;
  margin-left: 100px;
  width: 300px;
  height: 80px;
}

button:hover {
  background-color: #0056b3;
}

/* Board styles */
.board {
  display: flex;
  flex-wrap: wrap;
  width: 960px;
  /* margin: 20px auto; */
  /* border: 2px solid #ddd; */
  /* border-radius: 8px; */
  overflow: hidden;

  /* Background image styles */
  background-image: url("./assets/Board.jpg"); /* Replace with your image URL */
  background-size: cover; /* Ensures the image covers the entire element */
  background-position: center; /* Centers the image */
  background-repeat: no-repeat; /* Prevents the image from tiling */
}

.row {
  display: flex;
  width: 100%;
}

.tile {
  width: 120px;
  height: 100px;
  /* display: flex;
  flex-direction: column;
  align-items: center; */
  justify-content: center;
  /* border: 1px solid #333; */
  box-sizing: border-box;
  /* background-color: #f9f9f9; */
  position: relative;
}

/* .tile:nth-child(2n) {
  background-color: #e9ecef;
} */

.position {
  font-size: 1.2rem;
  color: #fff;
  position: absolute;
  top: 2px;
  right: 2px;
}

.snake {
  text-align: center;
  line-height: 70px;
  align-items: center;
  color: white;
  font-size: 2.2rem;
  background-color: #d9534f;
  width: 70px;
  height: 70px;
  border-radius: 100%;
  margin: auto;
}

.ladder {
  text-align: center;
  line-height: 70px;
  align-items: center;
  color: white;
  font-size: 2.2rem;
  background-color: #5cb85c;
  width: 70px;
  height: 70px;
  border-radius: 100%;
  margin: auto;
  margin-top: 25px;
}

.players {
  display: flex;
  flex-wrap: wrap;
  /* margin-top: 5px; */
}

.player {
  padding: 2px;
  margin: 1px;
}

.player-token {
  width: 90px;
  height: 90px;
}

.player-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.player-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-size: 1.7rem;
  font-weight: 600;
  color: #fff;
}

.player-line input {
  margin-left: 20px;
  padding: 5px;
  width: 60px;
  border: 1px solid #000;
  border-radius: 10px;
  background-color: #ddd;
  color: #333;
  text-align: right;
  font-size: 2rem;
}

.player-token-line {
  width: 80px;
  height: 80px;
  margin-right: 15px;
}

.edit-container {
  padding: 30px 40px;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 50px;
  margin-left: 100px;
}
